<%= stylesheet_link_tag  "bootstrap" %>

<h3>Using <%= session[:authentication_type] %> <a class="btn btn-mini btn-primary" href="/choose">change</a></h3>
<div class="btn-toolbar">
	<div class="btn-group">
		<% @model_list.sort.each do |path, name|%>
				<a class="btn <%= "btn-success" if path == @model_name %>" href="/?model_name=<%= path %>"><%= name %></a>
		<% end %>
	</div>
</div>
<pre><%= @results %></pre>